.render-html {
    width: 40%;
    height: 100%;
    border: white;
}

.paragraph-render {
    color: white;
}

.fullScreenRender {
    width: 80vw;
    height: 100vh;
    position: absolute;
    background-color: #151515;
    z-index: 10;
}